.btn {
    --btn-height: 42px;

    display: block;
    height: var(--btn-height);
    border: 0;
    border-radius: 25px;
    font-family: $font-primary;
    font-size: 14px;
    color: $clr-white;
    text-align: center;
    text-transform: uppercase;
    line-height: var(--btn-height);
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color .2s ease-in-out;

    &--clr--red {
        background-color: $clr-red;

        &:hover {
            background-color: $clr-red-dark;
        }
    }

    &--clr--black {
        background-color: $clr-black;

        &:hover {
            background-color: #6a6a6a;
        }
    }
}
