.circle-decorator {
    display: block;
    height: 71px;
    width: 71px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;

    &--clr--red {
        background-color: $clr-red;
    }

    &--clr--black {
        background-color: $clr-black;
    }
}
