.services {
    display: flex;
    justify-content: center;
    padding: 82px 0 89px;
    background-color: $clr-gray;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 107px;

        @include lg {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__card {
        display: flex;
        flex-direction: row;

        &:not(:last-of-type):not(:first-of-type) {
            margin: 35px 0 2em 0;

            @include lg {
                margin: 0 35px;
            }
        }
    }

    &__circle-decorator {
        margin-right: 31px;

        &--icon--rocket {
            background: url("../../img/icon-rocket.png");
        }

        &--icon--shield {
            background: url("../../img/icon-shield.png");
        }

        &--icon--extinguisher {
            background: url("../../img/icon-extinguisher.png");
        }
    }

    &__card-copy {
        max-width: 190px;

        @include md {
            max-width: 400px;
        }

        @include lg {
            max-width: 200px;
        }

        @include rwd(1100) {
            max-width: 263px;
        }
    }

    &__service-name {
        margin-bottom: 26px;
        font-size: 21px;
        color: $clr-black;
        text-transform: uppercase;
        letter-spacing: 1px;

        @include lg {
            white-space: nowrap;
        }
    }

    &__service-description {
        font-family: $font-secondary;
        font-size: 14px;
        color: $clr-gray-dark;
        line-height: 25px;

        &-link-more {
            color: $clr-red;

            &:hover {
                text-decoration: underline;
            }

            &:visited {
                color: $clr-red;
            }
        }
    }
}